/* Denna fil skall innehålla din CSS kod */
body, body * {
    margin: unset;
    box-sizing: unset;
    padding: 0;
    font-size: unset;
    color: white;
    text-decoration: unset;
}
html {
    scroll-behavior: smooth;
}
:root {
    --headerclr: rgb(255, 255, 255);
    --logo_color: #2525e5;
    --burgerbtncolor: #0d53c3;
    --burgerbtnstripes: rgb(211, 196, 65);
    --blogpostcolor: #202020;
    --sideMenuItemClr: #202020;
    --backgrndClr: #181818;
    /*article colors*/
    --figcaptionclr: rgb(196, 133, 40);
    --h1clr: #ffffff;
    --h2clr: rgb(255, 255, 255);
    --h3clr: #ffffff;
    --paragrafclr: rgb(148, 148, 148);
    --textlinkclr: rgb(150, 65, 150);
    --textlinkhoverclr: rgb(156, 1, 156);
    font-size: 2vh;
}
body {
    background-color: var(--backgrndColor);
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
/* whole page grid - general template*/
.pagewrapper {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 9vh auto 7vh;
    grid-template-areas: "nav" "content" "footer";
}

/* header bar positon, color and size*/
nav {
    position: fixed;
    width: 100%;
    background-color: var(--headerclr);
    height: 9vh;
    z-index: 1;
    grid-row: nav;
}

/* Content placement*/

.content {
    grid-row: content;
}

/* The Logo sizing and some positioning*/

.logo {
    height: 100%;
    width: 100%;
}

.logo a {
    display: flex;
    height: 100%;
    width: 100%;
}

.logo img {
    height: 7vh;
    margin: 1vh;
}

.logo p {
    width: 100%;
    padding-top: 2.5vh;
    font-size: 4vh;
    text-align: center;
    line-height: 100%;
    margin: 0;
    margin-right: 9vh;
}


/*Hamburger placement*/

#burgerbtn {
    cursor: pointer;
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 1;
    background: var(--burgerbtncolor);
    width: 6.5vh;
    height: 6.2vh;
    border-radius: 3.5vh 0vh 0vh 3.5vh;
    transform: translate(0, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
}
/* Burgerbutton border normal color*/

.blackborder {
    border: 0.4vh solid var(--burgerbtncolor);
    border-right: solid var(--burgerbtncolor);
}

/* positioning of lower and higher line*/

.blackborder div:before, .blackborder div:after {
    top: -1.3vh;
}

/* Moves lower bar down*/

.blackborder div:after {
    top: 1.3vh;
}

/* Burgerbutton border color when menu open + animation for burger*/

.blueborder {
    border: 0.4vh solid var(--burgerbtncolor);
}

.blueborder div {
    transform: rotate(135deg);
    background-color: var(--headerclr);
}

.blueborder div:before, .blueborder div:after {
    top: 0vh;
    transform: rotate(90deg);
}
/* middle bar style*/

#burgerbtn div {
    border: none;
    position: relative;
    left: 0.3vh;
    width: 4vh;
    height: 0.5vh;
    background-color: var(--burgerbtnstripes);
    transition: 0.4s;
}

/* top and bottom style*/

#burgerbtn div:before, #burgerbtn div:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 4vh;
    height: 0.5vh;
    background-color: var(--burgerbtnstripes);
    transition: 0.4s;
}

/* Classes for dropdown menu opened or closed */

.closed ul {
    display: none;
}

.open ul {
    display: block;
}

/* The side navigation menu */

.sidemenu {
    height: 100vh;
    /* 100% Full-height */
    width: 0vw;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: -1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    background-color: var(--headerclr);
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    right: 0;
}

.sidemenuwidth {
    width: 100vw;
}


/* dropdown funtionality */

.item ul, .sub-item ul {
    overflow: hidden;
    height: 0;
    transition: 0.3s ease-in-out;
}

.item input:checked~ul, .sub-item input:checked~ul {
    overflow: visible;
    height: 13vh;
}

.item input {
    display: none;
}

/* Styling of dropdown and dropdown items*/

.item-container {
    margin-top: 43.6vh;
    width: 100%;
    opacity: 0;
    transition: 0.25s ease-in-out;
    font-size: 2vh;
}

label:hover {
    cursor: pointer;
}

.item a {
    margin-top: 1vh;
    width: 100%;
    background-color: var(--sideMenuItemClr);
    display: block;
    z-index: 3;
    position: relative;
    line-height: 6vh;
    padding-left: 5vw;
    border-left: 0.4vh solid var(--logo_color);
}

.item label {
    margin-top: 1vh;
    width: 100%;
    background-color: var(--sideMenuItemClr);
    display: block;
    z-index: 3;
    position: relative;
    line-height: 6vh;
    padding-left: 5vw;
    border-left: 0.4vh solid var(--logo_color);
}

.sub-item label, .sub-item a {
    padding-left: 15vw;
    margin-top: 0;
}

.sub-item li a {
    margin-top: 0;
    padding-left: 25vw;
}

.sidemenu li {
    background-color: var(--sideMenuItemClr);
    line-height: 6vh;
    position: relative;
}

.sidemenu li {
    list-style: none;
}

/* All styling inside content div */

/*Homepage top gallery styling */
.top-gallery {
    padding: 0;
    height: 100vh;
    overflow: hidden;
    grid-column: 1/5;
}
.gallery-cell img{
    margin: 0;
    width: 100vw;
    height: 92vh;
    object-fit: cover;
}

/* Text articles/blogposts style */

/* article gridsystem */

article {
    display: grid;
    grid-template-columns: 1fr 5% [start] 15% 60% 15% [end] 5% 1fr;
    background-color: var(--blogpostcolor);
    width: 90vw;
    margin: 5vw 5vw 5vw 5vw;
    border-radius: 2vw;
    height: auto;
}

article * {
    grid-column: start / end;
}

/* Specific styling of general text types*/

h2, p {
    margin-bottom: 1.2rem;
}

h1 {
    margin-top: 1rem;
    font: 700 1.5rem/1.2 "Helvetica";
    color: var(--h1clr);
}

h2 {
    font: 400 1.2rem/1.2 "Helvetica";
    color: var(--h2clr);
}

time {
    font: 400 1.0rem/1.2 "Helvetica";
    color: var(--figcaptionclr);
}

h3 {
    font: 700 1.2rem/1.2 "Helvetica";
    color: var(--h3clr);
}

p {
    font: 400 1.0rem/1.5 "Helvetica";
    color: var(--paragrafclr);
}

figcaption p {
    font: 400 1.0rem/1.5 "Helvetica";
    color: var(--figcaptionclr);
}

strong {
    color: var(--figcaptionclr);
}

p a {
    color: var(--textlinkclr);
    font-weight: 700;
}

p a:hover {
    color: var(--textlinkhoverclr);
    text-decoration: underline;
}

.gallery {
    width: 100%;
    height: auto;
    border-top: 2px solid var(--paragrafclr);
    padding: 2vw 0 2vw 0;
}

.gallery img {
    margin: 1vw 0 1vw 0
}

.img-g {
    width: 100%;
    grid-area: img1;
}

.title {
    margin-top: 1.2rem;
    text-align: center;
    font-size: 4vh;
    font: 900;
    text-transform: capitalize;
    color: var(--h3clr);
}

.article-end-line {
    text-align: center;
    margin-bottom: 0rem;
}

.back-to-top {
    text-align: center;
}

/* blogpost picture styling*/

/* placemnet of picture depending on size */

.size-1 {
    grid-column: 4/5;
}

.size-2 {
    grid-column: 3/6;
}

.size-3 {
    grid-column: 2/7;
}

.size-4 {
    grid-column: 1/8;
}

.size-1 img, .size-2 img, .size-3 img, .size-4 img {
    width: 100%;
}

/* picture caption placement*/

figcaption {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
}

/* frontpage slideshow stuff*/

.slideshow {
    height: auto;
    list-style-type: none;
}

.slideshow li {
    background-image: url(../img/pexels-photo-270360.jpeg);
    height: 27vh;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}


/* footer styling and placement*/

footer {
    grid-row: footer;
    width: 100%;
    background-color: var(--headerclr);
    height: 7vh;
    display: flex;
}

footer p {
    width: 100%;
    font-size: 2vh;
    color: #202020;
    display: block;
    line-height: 7vh;
    text-align: center;
}

footer span {
    color: var(--logo_color);
}

/* Desktop styling */
@media screen and (min-width: 800px) {
    /*sidemenu desktop styling*/
    .sidemenu {
        height: 0vh;
        width: 30vw;
        overflow: hidden;
    }
    .sidemenuwidth {
        width: 30vw;
        height: auto;
    }
    
    .item-container {
        margin-top: 12vh;
    }
    .item label, .item a {
        padding-left: 1.5vw;
    }
    .sub-item label {
        padding-left: 4vw;
    }
    .sub-item li a {
        padding-left: 8vw;
    }
    /*Logo placement*/
    .logo {
        height: auto;
        display: grid;
        grid-template-columns: 1fr [start] 45vw [end] 1fr;
    }
    .logo a {
        grid-column: start / end;
    }
    /*burgerbtn placement*/
    #burgerbtn {
        top: 4.5vh;
        right: 30vw;
        background: none;
        border: none;
    }
    footer {
        margin-top: 4vh;
    }
}