/* Denna fil skall innehålla din CSS kod */
body, body * {
    margin: unset;
    box-sizing: unset;
    padding: 0;
    font-size: unset;
    color: white;
    text-decoration: unset;
}
html {
    scroll-behavior: smooth;
}
:root {
    --headerclr: rgb(250, 250, 250);
    --logo_color: #920e2b;
    --burgerbtncolor: #920e2b;
    --burgerbtnstripes: rgb(32, 32, 28);
    --blogpostcolor: #ffffff;
    --sideMenuItemClr: #202020;
    --backgrndClr: #181818;
    --creator_color: #941a1a;
    /*article colors*/
    --figcaptionclr: rgb(138, 1, 1);
    --h1clr: #929292;
    --h2clr: hsl(000, 0%, 40%);
    --h3clr: #7a7a7a;
    --paragrafclr: rgb(68, 67, 67);
    --textlinkclr: rgb(150, 65, 150);
    --textlinkhoverclr: rgb(156, 1, 156);
    font-size: 2vh;
}
body {
    background-color: var(--backgrndColor);
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
/* whole page grid - general template*/
.pagewrapper {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 9vh auto 7vh;
    grid-template-areas: "nav" "content" "footer";
    
}
.pagewrapper2 {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 9vh auto auto 7vh;
    grid-template-columns: 7vh auto 7vh;
    grid-template-areas: "nav nav nav"
     "content content content" 
     "b b b"
     "footer footer footer";
    
}


/* header bar positon, color and size*/
nav {
    position: fixed;
    width: 100%;
    background-color: var(--headerclr);
    height: 9vh;
    z-index: 1;
    grid-row: nav;
    grid-column: nav;
}

/* Content placement*/

.content {
    grid-row: content;
    grid-column: content;
    align-content: center;

}
.content2 {
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-flow: row wrap;
    grid-column: content;
    grid-row: content;   
    justify-content: space-evenly;
}
.b{
    grid-column: b;
    grid-row: b;
}
.content3{
    grid-row: content;
    grid-column: content;
    display: grid;
    grid-template-rows: 40% 40% 20%;
    grid-template-columns: 20% 1fr 1fr 1fr 1fr;
    grid-template-areas: "a1 a2 a3 a4 a5"
    "b1 b2 b3 b4 b5"
    "c1 c2 c4 c4 c5";
}
.content4{
    grid-row: content;
    grid-column: content;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    justify-content: space-evenly;
    justify-content: center;
    grid-template-areas: 
    "x x y z"
    "x x y z"
    "x x y z"
}


/* The Logo sizing and some positioning*/

.logo {
    height: 100%;
    width: 100%;
}

.logo a {
    display: flex;
    height: 100%;
    width: 100%;
}

.logo img {
    height: 7vh;
    margin: 1vh;
}

.logo p {
    width: 100%;
    padding-top: 2.5vh;
    font-size: 4vh;
    text-align: center;
    line-height: 100%;
    margin: 0;
    margin-right: 9vh;
}


/*Hamburger placement*/

#burgerbtn {
    cursor: pointer;
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 1;
    background: var(--burgerbtncolor);
    width: 6.5vh;
    height: 6.2vh;
    border-radius: 3.5vh 0vh 0vh 3.5vh;
    transform: translate(0, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
}
/* Burgerbutton border normal color*/

.blackborder {
    border: 0.4vh solid var(--burgerbtncolor);
    border-right: solid var(--burgerbtncolor);
}

/* positioning of lower and higher line*/

.blackborder div:before, .blackborder div:after {
    top: -1.3vh;
}

/* Moves lower bar down*/

.blackborder div:after {
    top: 1.3vh;
}

/* Burgerbutton border color when menu open + animation for burger*/

.blueborder {
    border: 0.4vh solid var(--burgerbtncolor);
}

.blueborder div {
    transform: rotate(135deg);
    background-color: var(--headerclr);
}

.blueborder div:before, .blueborder div:after {
    top: 0vh;
    transform: rotate(90deg);
}
/* middle bar style*/

#burgerbtn div {
    border: none;
    position: relative;
    left: 0.3vh;
    width: 4vh;
    height: 0.5vh;
    background-color: var(--burgerbtnstripes);
    transition: 0.4s;
}

/* top and bottom style*/

#burgerbtn div:before, #burgerbtn div:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 4vh;
    height: 0.5vh;
    background-color: var(--burgerbtnstripes);
    transition: 0.4s;
}

/* Classes for dropdown menu opened or closed */

.closed ul {
    display: none;
}

.open ul {
    display: block;
}

/* The side navigation menu */

.sidemenu {
    height: 100vh;
    /* 100% Full-height */
    width: 0vw;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: -1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    background-color: var(--headerclr);
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    right: 0;
}

.sidemenuwidth {
    width: 100vw;
}


/* dropdown funtionality */

.item ul, .sub-item ul {
    overflow: hidden;
    height: 0;
    transition: 0.3s ease-in-out;
}

.item input:checked~ul, .sub-item input:checked~ul {
    overflow: visible;
    height: 13vh;
}

.item input {
    display: none;
}

/* Styling of dropdown and dropdown items*/

.item-container {
    margin-top: 43.6vh;
    width: 100%;
    opacity: 0;
    transition: 0.25s ease-in-out;
    font-size: 2vh;
}

label:hover {
    cursor: pointer;
}

.item a {
    margin-top: 1vh;
    width: 100%;
    background-color: var(--sideMenuItemClr);
    display: block;
    z-index: 3;
    position: relative;
    line-height: 6vh;
    padding-left: 5vw;
    border-left: 0.4vh solid var(--logo_color);
}

.item label {
    margin-top: 1vh;
    width: 100%;
    background-color: var(--sideMenuItemClr);
    display: block;
    z-index: 3;
    position: relative;
    line-height: 6vh;
    padding-left: 5vw;
    border-left: 0.4vh solid var(--logo_color);
}

.sub-item label, .sub-item a {
    padding-left: 15vw;
    margin-top: 0;
}

.sub-item li a {
    margin-top: 0;
    padding-left: 25vw;
}

.sidemenu li {
    background-color: var(--sideMenuItemClr);
    line-height: 6vh;
    position: relative;
}

.sidemenu li {
    list-style: none;
}

/* All styling inside content div */

/*Homepage top gallery styling */
.top-gallery {
    padding: 0;
    height: 100vh;
    overflow: hidden;
    grid-column: 1/5;
}
.gallery-cell img{
    margin: 0;
    width: 100vw;
    height: 92vh;
    object-fit: cover;
}

/* Text articles/blogposts style */

/* article gridsystem */

article {
    display: grid;
    grid-template-columns: 1fr 5% [start] 15% 60% 15% [end] 5% 1fr;
    background-color: var(--blogpostcolor);
    width: auto;
    margin: 5vw 5vw 5vw 5vw;
    border-radius: 2vw;
    height: auto;
    
    -webkit-box-shadow: 10px 15px 52px -15px rgba(133,133,133,1);
    -moz-box-shadow: 10px 15px 52px -15px rgba(133,133,133,1);
    box-shadow: 10px 15px 52px -15px rgba(133,133,133,1);
}
#article2 {
    display: grid;
    grid-template-columns: 12fr 5% [start] 15% 60% 15% [end] 5% 1fr;
    background-color: var(--blogpostcolor);
    width: auto;
    margin: 5vw 5vw 5vw 5vw;
    border-radius: 5vw;
    height: auto;
    min-width: 30%; 
    
}
#article3 {
    display: grid;
    grid-template-columns: 1fr 5% [start] 15% 60% 15% [end] 5% 1fr;
    background-color: var(--blogpostcolor);
    width: auto;
    margin: 1vw 1vw 1vw 1vw;
    border-radius: 2vw;
    height: 20vh;
    align-content: center;
    
}
#article4 {
    display: grid;
    grid-template-columns: 1fr 5% [start] 15% 60% 15% [end] 5% 1fr;
    background-color: var(--blogpostcolor);
    width: 20vw;
    margin: 1vw 1vw 1vw 1vw;
    border-radius: 2vw;
    height: auto;
    align-content: center;
    
}
#article5 {
    grid-area: x;
    background-color: var(--blogpostcolor);
    width: fit-content;
    margin: 10;
    border-radius: 2vw;
    height: 70vh;
    
}
#article6 {
    grid-area: y;
    background-color: var(--blogpostcolor);
    width: fit-content;
    margin: 10;
    border-radius: 2vw;
    height: fit-content;
}
#article7 {
    grid-area: z;
    background-color: var(--blogpostcolor);
    width: fit-content;
    margin: 10;
    border-radius: 2vw;
    height: fit-content;
}
#article8 {
    display: grid;
    grid-template-columns: 12fr 5% [start] 15% 60% 15% [end] 5% 1fr;
    background-color: var(--blogpostcolor);
    width: auto;
    margin: 2vw 2vw 2vw 2vw;
    border-radius: 2vw;
    height: fit-content;
    min-width: 30%; 
    margin-top: 80%;
    
}
article * {
    grid-column: start / end;
   
}

/* Specific styling of general text types*/

h2, p {
    margin-bottom: 1.2rem;
}

h1 {
    margin-top: 1rem;
    font: 700 1.5rem/1.2 "Helvetica";
    color: var(--h1clr);
}

h2 {
    font: 400 1.2rem/1.2 "Helvetica";
    color: var(--h2clr);
}

time {
    font: 400 1.0rem/1.2 "Helvetica";
    color: var(--figcaptionclr);
}

h3 {
    font: 700 1.2rem/1.2 "Helvetica";
    color: var(--h3clr);
}

p {
    font-family: permanent-marker, sans-serif;

    font-weight: 400;
    
    font-style: normal;
    color: var(--paragrafclr);
}


figcaption p {
    font: 400 1.0rem/1.5 "Helvetica";
    color: var(--figcaptionclr);
    font-family: permanent-marker, sans-serif;

    font-weight: 400;
    
    font-style: normal;
}

strong {
    color: var(--figcaptionclr);
}

p a {
    color: var(--textlinkclr);
    font-weight: 700;
}

p a:hover {
    color: var(--textlinkhoverclr);
    text-decoration: underline;
}



.title {
    margin-top: 1.2rem;
    text-align: center;
    font-size: 4vh;
    font: 900;
    text-transform: capitalize;
    color: var(--h3clr);
}

.article-end-line {
    text-align: center;
    margin-bottom: 0rem;
}

.back-to-top {
    text-align: center;
}

/* blogpost picture styling*/

/* placemnet of picture depending on size */

.size-1 {
    grid-column: 4/5;
}

.size-2 {
    grid-column: 3/6;
}

.size-3 {
    grid-column: 2/7;
}

.size-4 {
    grid-column: 1/8;
}
.size-5{
    grid-auto-flow: row;
}

.size-1 img, .size-2 img, .size-3 img, .size-4 img {
    width: 100%;
}
.size-5 img{
    width: auto;
    height: auto;
 
}
/* picture caption placement*/

figcaption {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
}

/* frontpage slideshow stuff*/

.slideshow {
    height: auto;
    list-style-type: none;
}

.slideshow li {
    background-image: url(../img/pexels-photo-270360.jpeg);
    height: 27vh;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}


/* footer styling and placement*/

footer {
    grid-row: footer;
    grid-column: footer;
    width: 100%;
    background-color: var(--headerclr);
    height: 7vh;
    display: flex;
}

footer p {
    width: 100%;
    font-size: 2vh;
    color: #202020;
    display: block;
    line-height: 7vh;
    text-align: center;
}

footer span {
    color: var(--logo_color);
}
footer span2 {
    color:var(--creator_color)
}

/* Desktop styling */
@media screen and (min-width: 800px) {
    /*sidemenu desktop styling*/
    .sidemenu {
        height: 0vh;
        width: 30vw;
        overflow: hidden;
    }
    .sidemenuwidth {
        width: 30vw;
        height: auto;
    }
    #article2 {
        display: grid;
        grid-template-columns: 1fr 5% [start] 20% 50% 20% [end] 5% 1fr;
        background-color: var(--blogpostcolor);
        width: 23vw;
        margin: 1vw 1vw 1vw 1vw;
        border-radius: 2vw;
        height: auto;
        
    }
    #article10 {
        display: grid;
        grid-template-columns: 1fr 5% [start] 20% 50% 20% [end] 5% 1fr;
        background-color: var(--blogpostcolor);
        width: auto;
        margin: 1vw 1vw 1vw 1vw;
        border-radius: 2vw;
        height: auto;
        
    }
    .item-container {
        margin-top: 12vh;
    }
    .item label, .item a {
        padding-left: 1.5vw;
    }
    .sub-item label {
        padding-left: 4vw;
    }
    .sub-item li a {
        padding-left: 8vw;
    }
    /*Logo placement*/
    .logo {
        height: auto;
        display: grid;
        grid-template-columns: 1fr [start] 45vw [end] 1fr;
    }
    .logo a {
        grid-column: start / end;
    }
    /*burgerbtn placement*/
    #burgerbtn {
        top: 4.5vh;
        right: 30vw;
        background: none;
        border: none;
    }
    footer {
        margin-top: 4vh;
    }
}

@media screen and (max-width: 900px) {
  
    .content4{
        width: 100%;
        grid-row: content;
        grid-column: content;
        align-content: center;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-areas: 
        "x x"
        "x x"
        "y y"
        "z z"
        ;
       
    }
    #article5{
        margin: 3vw 2vw 2vw 3vw;
        height: fit-content;
    }


}

/* TEST */

* {box-sizing:border-box}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Make the images invisible by default */
.Containers {
    display: none;
  }

/* forward & Back buttons */
.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

/* Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption Info */
.Info {
  color: #131212;
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-family: permanent-marker, sans-serif;

    font-weight: 400;
    
    font-style: normal;
}

/* Worknumbering (1/3 etc) */
.MessageInfo {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}

/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable, .dots:hover {
  background-color: #717161;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}