/* Denna fil skall innehålla din CSS kod */
body, body * {
    margin: unset;
    box-sizing: unset;
    padding: 0;
    font-size: unset;
    color: white;
    text-decoration: unset;
}

html {
    scroll-behavior: smooth;
}
 
:root {
    --headerclr: #000;
    --logo_color: #2525e5;
    --burgerbtncolor: #0d53c3;
    --burgerbtnstripes: rgb(211, 196, 65);
    --blogpostcolor: #202020;
    --sideMenuItemClr: #202020;
    --backgrndClr: #181818;
    /*article colors*/
    --figcaptionclr: rgb(196, 133, 40);
    --h1clr: #929292;
    --h2clr: hsl(000, 0%, 40%);
    --h3clr: #7a7a7a;
    --paragrafclr: rgb(148, 148, 148);
    --textlinkclr: rgb(150, 65, 150);
    --textlinkhoverclr: rgb(156, 1, 156);
    font-size: 2vh;
}
body {
    background-color: var(--backgrndColor);
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
/* whole page grid - general template*/
.pagewrapper {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 9vh auto 7vh;
    grid-template-areas: "nav" "content" "footer";
}

/* header bar positon, color and size*/
nav {
    position: fixed;
    width: 100%;
    background-color: var(--headerclr);
    height: 9vh;
    z-index: 1;
    grid-row: nav;
}

/* Content placement*/

.content {
    grid-row: content;
}

/* The Logo sizing and some positioning*/

.logo {
    height: 100%;
    width: 100%;
}

.logo a {
    display: flex;
    height: 100%;
    width: 100%;
}

.logo img {
    height: 7vh;
    margin: 1vh;
}

.logo p {
    width: 100%;
    padding-top: 2.5vh;
    font-size: 4vh;
    text-align: center;
    line-height: 100%;
    margin: 0;
    margin-right: 9vh;
}


/*Hamburger placement*/

#burgerbtn {
    cursor: pointer;
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 1;
    background: var(--burgerbtncolor);
    width: 6.5vh;
    height: 6.2vh;
    border-radius: 3.5vh 0vh 0vh 3.5vh;
    transform: translate(0, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
}
/* Burgerbutton border normal color*/

.blackborder {
    border: 0.4vh solid var(--burgerbtncolor);
    border-right: solid var(--burgerbtncolor);
}

/* positioning of lower and higher line*/

.blackborder div:before, .blackborder div:after {
    top: -1.3vh;
}

/* Moves lower bar down*/

.blackborder div:after {
    top: 1.3vh;
}

/* Burgerbutton border color when menu open + animation for burger*/

.blueborder {
    border: 0.4vh solid var(--burgerbtncolor);
}

.blueborder div {
    transform: rotate(135deg);
    background-color: var(--headerclr);
}

.blueborder div:before, .blueborder div:after {
    top: 0vh;
    transform: rotate(90deg);
}
/* middle bar style*/

#burgerbtn div {
    border: none;
    position: relative;
    left: 0.3vh;
    width: 4vh;
    height: 0.5vh;
    background-color: var(--burgerbtnstripes);
    transition: 0.4s;
}

/* top and bottom style*/

#burgerbtn div:before, #burgerbtn div:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 4vh;
    height: 0.5vh;
    background-color: var(--burgerbtnstripes);
    transition: 0.4s;
}

/* Classes for dropdown menu opened or closed */

.closed ul {
    display: none;
}

.open ul {
    display: block;
}

/* The side navigation menu */

.sidemenu {
    height: 100vh;
    /* 100% Full-height */
    width: 0vw;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: -1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    background-color: var(--headerclr);
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    right: 0;
}

.sidemenuwidth {
    width: 100vw;
}


/* dropdown funtionality */

.item ul, .sub-item ul {
    overflow: hidden;
    height: 0;
    transition: 0.3s ease-in-out;
}

.item input:checked~ul, .sub-item input:checked~ul {
    overflow: visible;
    height: 13vh;
}

.item input {
    display: none;
}

/* Styling of dropdown and dropdown items*/

.item-container {
    margin-top: 43.6vh;
    width: 100%;
    opacity: 0;
    transition: 0.25s ease-in-out;
    font-size: 2vh;
}

label:hover {
    cursor: pointer;
}

.item a {
    margin-top: 1vh;
    width: 100%;
    background-color: var(--sideMenuItemClr);
    display: block;
    z-index: 3;
    position: relative;
    line-height: 6vh;
    padding-left: 5vw;
    border-left: 0.4vh solid var(--logo_color);
}

.item label {
    margin-top: 1vh;
    width: 100%;
    background-color: var(--sideMenuItemClr);
    display: block;
    z-index: 3;
    position: relative;
    line-height: 6vh;
    padding-left: 5vw;
    border-left: 0.4vh solid var(--logo_color);
}

.sub-item label, .sub-item a {
    padding-left: 15vw;
    margin-top: 0;
}